# Environment
SERVER_ENV='dev' # for production use 'production'

# Port
PORT=8080

# MONGO DB
# DB_CONNECT = mongodb://mongoURL:27017/databaseName
DB_CONNECT_DEV = mongodb://127.0.0.1:27017/mern-chat # for development
DB_CONNECT_PRODUCTION = mongodb://127.0.0.1:27017/mern-chat # for production
# DB_CONNECT_DEV=mongodb://127.0.0.1:27017/mern-chat-test # for test purpose in development

# JWT
JWT_SECRET_KEY = "your_secret_key"
